header{
    width: 100%;
    height: 100px;
    background-color:#ff00ff;
}
section{
    width: 100%;
    height: 900px;
    background-color:#ffff00;
}
footer{
    width: 100%;
    height: 100px;
    background-color:#00ffff;
}