*{ margin: 0}
header{width: 100%; height: 100px;
background-color: #ff00ff;
}
nav{
    width: 100%; 
    height: 50px;
    background-color: #000;
    z-index: 1;
}
a{
    text-decoration: none;
}
.navi{
    margin-left: 20%;
}
.navi>li{
    float: left;
    list-style-type: none;
    width: 200px;
    background-color: #000;
    height:50px;
    text-align: center;
}
.navi>li>a{
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}
.navi>li:hover{
    color:#000;
    background-color: darkgray;
}
 /*.submenu{
   display: none; 
}*/
.submenu>li{
    width: 200px;
    height: 35px;
    background-color: #fff;
    list-style-type:none;
    margin-left: -40px;
}
.submenu>li>a{
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.submenu>li:hover{
    background-color: dimgray;
}
/*section{width: 100%; height: 500px;
background-color: #ffff00;
} */
footer{width: 100%; height: 50px;
background-color: #00ffff;
}
.imgslide{
    width: 100%;
    height: 300px;
    background-color:purple;
    float:left;
}
.notice{
    width: 33.3%;
    height: 200px;
    background-color:paleturquoise;
    float:left;
}
.banner1{
    width: 33.3%;
    height: 200px;
    background-color:peachpuff;
    float:left;
}
.banner2{
    width: 33.3%;
    height: 200px;
    background-color:peru;
    float:left;
}
/* 신상품목록 */
.prod{margin-left: 250px;}
.prod-list{
    list-style:none;
    margin: 0;
    padding:0;
}
.prod-list li{
    position:relative;
    float: left;
    padding: 0;
    margin:30px;
    overflow: hidden;
}
.prod-list img{
    margin:0;
    padding: 0;
    float: left;
    z-index:5px;
}

.prod-list .caption{
    position: absolute;
    top:200px;
    width: 300px;
    height:200px;
    padding-top:20px;
    background: rgba(0,0,0,0.6);
    opacity:0;
    z-index:10;
}
.prod-list li:hover .caption{
    opacity:1;
    transform: translateY(-200px);
}
.prod-list .caption h1, .prod-list .caption p{
    padding-top:20px;
    color:#fff;
    text-align:center;
}
/* 이미지 변형 */
.photo{
    margin-left: 300px;
}
.p1, .p2, .p3{
    float: left;
    margin:10px;
    overflow:hidden;
}
.p1 img:hover{
    transform:scale(1.5);
    transition: 2s ease-in;
}
.p2 {
    animation: rotate 1.5s infinite;
}
@keyframes rotate{
    from{transform:perspective(250px) rotateX(0deg) rotateY(0deg)}
    50%{transform:perspective(250px) rotateX(0deg) rotateY(-180deg)}
    to{transform:perspective(250px) rotateX(0deg) rotateY(-360deg)}
}
.p3:hover{
    opacity:0.5;
}